

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;    background: rgb(0,0,46);
    background: linear-gradient(90deg, rgba(0,0,46,1) 0%, rgba(2,0,36,1) 50%, rgba(55,0,0,1) 100%);
}